<% layout("/layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/backgroundImageLogin.css">

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card bg-transparent" style="width: 20rem; margin-top: 6rem;">
                    <div class="card-body text-white">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="post" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter a username.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter a password.
                                </div>
                            </div>
                            <button class="btn btn-success col-12 mb-3">Login</button>
                            <a class="btn btn-block btn-social btn-google col-12" href="/auth/google">
                                <span class="fa fa-google"></span> Sign In with Google
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

